:root {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: ghostwhite;
}

/* Header Stylings */

header h1 {
    text-align: center;
}

header p {
    margin: 0% 2%;
}

/* Main Stylings */

main {
    display: flex;
}

/* Ingredients and Dietary Restrictions Stylings*/

#ingredientdietdiv {
    width: 60vw;
    display: flex;
}

/* Ingredients List Stylings */

#ingredients {
    box-sizing: border-box;
    padding: 1%;
    height: auto;
    width: 50%;
}

/* Diet Restrictions List Stylings */

#dietrestrictions {
    box-sizing: border-box;
    padding: 1%;
    height: auto;
    width: 50%;
}

/* Form Stylings */

form {
    display: flex;
}

/* Recipe Div Stylings */

#recipediv {
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 39vw;
    height: auto;
    text-align: center;
}

/* Search Div and Button Stylings */

#searchdiv {
    display: flex;
    width: 60vw;
}

#searchbutton {
    width: 100%;
    border-radius: 5px;
}