:root {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: rgb(255, 253, 253);
}

header h1 {
    font-family: 'croissant one';
}

header p {
    font-family: "marck script";
}

#ai {
    font-family: 'croissant one';
}

form {
    font-family: 'croissant one'
}

#searchbutton {
    font-family: 'croissant one'
}

#reset {
    font-family: 'croissant one';
}
h2 {
    font-family: 'croissant one'
}

#recipediv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ingredientlist {
    font-family: 'marck script'
}

#recipelist1 {
    font-family: 'croissant one';
}

#recipelist1ingredients {
    font-family: "marck script";
}

#recipelist1recipe {
    font-family: "marck script";
}

#recipelist2 {
    font-family: 'croissant one';
}

#recipelist2ingredients {
    font-family: "marck script";
}

#recipelist2recipe {
    font-family: "marck script";
}

#recipelist3 {
    font-family: 'croissant one';
}

#recipelist3ingredients {
    font-family: "marck script";
}

#recipelist3recipe {
    font-family: "marck script";
}

#recipelist4 {
    font-family: 'croissant one';
}

#recipelist4ingredients {
    font-family: "marck script";
}

#recipelist4recipe {
    font-family: "marck script";
}

#recipelist5 {
    font-family: 'croissant one';
}

#recipelist5ingredients {
    font-family: "marck script";
}

#recipelist5recipe {
    font-family: "marck script";
}

img {
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}

footer {
    font-family: 'marck script';
}

.maintain-aspect-ratio {
    width: 25%;
    height: 25vw;
}